{% extends "base.html" %} {% block content %}

<div class="px-4 py-5 my-5 text-center">
    <img class="circle-square d-block mx-auto mb-4" src="/static/img/IMG_9955.jpg">
    <h1 class="display-5 fw-bold text-body-emphasis">So, who am I?</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" id="about">I'm a <b>Python</b> Programmer, with skill sets in domains such as Web Development and Data Science. I started my programming journey in May 2023 with the aid of a Udemy Course. Since then, I have been inspired with the limitless ideas that could be turned into a reality just by writing lines of code. I enjoy building projects to challenge myself and push my limits, with the passion to constantly strive towards improving my code, extending its possibilities. I am a self-driven individual, who also demonstrates good teamwork. I am able to learn quickly and is always eager to learn whenever there's an opportunity!</p>
    </div>
  </div>


{% endblock %}