{% extends "base.html" %} {% block content %}

<div class="container col-xxl-10 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/img/Home Pic.JPG" class="rounded d-block mx-lg-auto img-fluid" alt="Picture of Keith Cheng" width="700" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="animate-charcter display-5 fw-bold text-body-emphasis lh-1 mb-3">Hi, I'm Keith Cheng 👋🏽</h1>
        <p class="intro lead">An Aspiring Full-Stack Software Developer in Singapore 🇸🇬.</p>
        <p class="text-body-secondary">NUS Year 1 Computer Science Undergraduate</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button onclick="window.location.href='https://docs.google.com/document/d/1OmsbzXn6F_5auqLSWwvw6aLXyzwSsX3H7FLb8jx4cGI/edit?usp=sharing';" type="button" class="btn btn-dark btn-lg px-4 me-md-2">Resume</button>
          <ul>
            <li><a href="https://www.linkedin.com/in/keith-cheng-96994328b/" class="fa-brands fa-linkedin fa-2xl" id="linkedin" style="color: #000000;"></a></li>
            <li><a href="https://github.com/KeithCheng22" class="fa-brands fa-github fa-2xl" id="github" style="color: #000000;"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>



{% endblock %}


